<div class="container">
	<div class="row text-center">
		<div class="col-xs-12">
			<h1 class="title">Adjusting lessons</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<label for="cmbGoal">Lessons</label>
			<select class="form-control" ng-model="lesson" ng-options="lesson.value as lesson for lesson in lessons">
            </select>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<video width="400" height="280" crossorigin="anonymous" id="video" autobuffer autoplay>
			  <source src="http://localhost:8001/lessons/The_Amazing_Power_of_Your_Mind_-_A_MUST_SEE/The_Amazing_Power_of_Your_Mind_-_A_MUST_SEE.mp4#t=00:01:09.330,00:01:15.869">
			  <!--track label="English" kind="subtitles" srclang="en" src="http://localhost:8001/lessons/The_Amazing_Power_of_Your_Mind_-_A_MUST_SEE/The_Amazing_Power_of_Your_Mind_-_A_MUST_SEE.vtt" default-->
			  Your browser does not support HTML5 video.
			</video>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-12">
			<button ng-click="play()" class="btn btn-primary">Play</button>
			<button ng-click="stop()" class="btn btn-danger">Stop</button>
		</div>
	</div>
	<div class="row text-center" style="padding-top:25px">
		<div class="col-xs-12">
			<p>subconscious mind can do it can't do one
thing and this thing can help you</p>
		</div>
	</div>
	<div class="row" style="padding-top:25px">
		<div class="col-xs-4 col-xs-offset-1 text-right">
			<span>00:01:49.500</span>
		</div>
		<div class="col-xs-2">
		</div>
		<div class="col-xs-4">
			<span>00:01:53.909</span>
		</div>
	</div>
	<div class="row text-center" style="padding-top:25px">
		<div class="col-xs-12">
			<button class="btn btn-warning">-1s</button>
			<button class="btn btn-warning">-100ms</button>
			<button class="btn btn-warning">-10ms</button>
			<button class="btn btn-primary"><<</button>
			<button class="btn btn-primary">>></button>
			<button class="btn btn-success" ng-click="add10ms()">+10ms</button>
			<button class="btn btn-success">+100ms</button>
			<button class="btn btn-success">+1s</button>
		</div>
	</div>
</div>