<div class="container">
	<div class="row text-center">
		<div class="col-xs-12">
			<h1 class="title">Adjusting lessons</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-sm-offset-3">
			<label for="cmbGoal">Lessons</label>
			<select class="form-control" ng-model="lesson.value" ng-options="lesson.value as lesson.description for lesson in lessons" ng-change="changeLesson()">
            </select>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1">
			<video width="400" height="240" crossorigin="anonymous" id="video" autobuffer>
			  <source type="video/mp4">
			  Your browser does not support HTML5 video.
			</video>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-6 col-xs-offset-3" style="height:60px">
			<p style="font-size:20px;"><b>{{lesson.sub}}</b></p>
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-12">
			<button ng-click="play()" class="btn btn-primary" ng-disabled="lesson.value===''">Play</button>
			<button ng-click="stop()" class="btn btn-danger" ng-disabled="(lesson.value==='')||video.src===''">Stop</button>
			<button ng-click="save()" class="btn btn-info" ng-disabled="lesson.value===''">Save</button>
		</div>
		<span style="color:green">{{lesson.status}}</span>
	</div>
	<div class="row" style="padding-top:25px">
		<div class="col-xs-4 text-right">
			<span><b>{{lesson.frameStart}}</b></span>
		</div>
		<div class="col-xs-4">
		</div>
		<div class="col-xs-4">
			<span><b>{{lesson.frameFinish}}</b></span>
		</div>
	</div>
	<div class="row" style="padding-top:25px">
		<div class="col-xs-12" >
			<div class="col-xs-8 col-xs-offset-2" >
				<div class="row">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-5">
								<button class="btn btn-warning" ng-click="subStart('1','s')" ng-disabled="lesson.value===''">-1s</button>
								<button class="btn btn-warning" ng-click="subStart('100','ms')" ng-disabled="lesson.value===''">-100ms</button>
								<button class="btn btn-warning" ng-click="subStart('10','ms')" ng-disabled="lesson.value===''">-10ms</button>
							</div>
							<div class="col-xs-2">
							</div>
							<div class="col-xs-5 text-right">
								<button class="btn btn-warning" ng-click="subEnd('1','s')" ng-disabled="lesson.value===''">-1s</button>
								<button class="btn btn-warning" ng-click="subEnd('100','ms')" ng-disabled="lesson.value===''">-100ms</button>
								<button class="btn btn-warning" ng-click="subEnd('10','ms')" ng-disabled="lesson.value===''">-10ms</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row" style="padding-top:15px">
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-5">
								<button class="btn btn-success" ng-click="addStart('1','s')" ng-disabled="lesson.value===''">+1s</button>
								<button class="btn btn-success" ng-click="addStart('100','ms')" ng-disabled="lesson.value===''">+100ms</button>
								<button class="btn btn-success" ng-click="addStart('10','ms')" ng-disabled="lesson.value===''">+10ms</button>
							</div>
							<div class="col-xs-2 text-center">
								<span style="font-size:25px" ng-show="lesson.numFrame!==-1"><b>{{lesson.numFrame}}</b></span>
							</div>
							<div class="col-xs-5  text-right">
								<button class="btn btn-success" ng-click="addEnd('1','s')" ng-disabled="lesson.value===''">+1s</button>
								<button class="btn btn-success" ng-click="addEnd('100','ms')" ng-disabled="lesson.value===''">+100ms</button>
								<button class="btn btn-success" ng-click="addEnd('10','ms')" ng-disabled="lesson.value===''">+10ms</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row text-center" style="padding-top:15px">
					<div class="col-xs-12">
						<button class="btn btn-primary" ng-click="previosFrame()" ng-disabled="((lesson.numFrame==1||lesson.numFrame==-1)||lesson.value==='')"><<</button>
						<button class="btn btn-primary" ng-click="nextFrame()" ng-disabled="lesson.value===''">>></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>