<div class="container">
	<div class="row text-center">
		<div class="col-xs-12">
			<h1 class="title">Add lesson</h1>
		</div>
	</div>
	<form class="form-horizontal" role="form" name="frmLesson" ng-submit="uploadFile()" enctype="multipart/form-data">
		<div class="form-group">
			<label class="control-label col-sm-2" for="video">Video:</label>
			<input class="align-file-btn col-sm-10" type="file" name="video" id="video" ng-model="flVideo" required>
			<!--i class="col-sm-offset-2 btn" ng-show="frmLesson.video.$error.required">*required</i-->
		</div>
		<div class="form-group">
			<label class="control-label col-sm-2" for="str">Str:</label>
			<input class="align-file-btn col-sm-10" type="file" name="str" id="str" ng-model="flStr" >
			<!--i class="col-sm-offset-2 btn" ng-show="frmLesson.str.$error.required">*required</i-->
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary" ang-disabled="!frmLesson.$valid">Upload files</button>
	        </div>
	        <div class="col-sm-offset-2 col-sm-10 title">
		        <div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: {{progress}}%;">
						{{progress}}% Complete
					</div>
				</div>
			</div>
		</div>
	</form>
</div>